spring:
  datasource:
    url: jdbc:postgresql://192.168.0.248:5432/
    username: postgres
    password: mysecretpassword
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
